fastapi
uvicorn[standard]
python-multipart
Pillow
tensorflow
numpy
pymongo
pwdlib[argon2]
PyJWT
email-validator
langchain
langchain-community
langchain-text-splitters
langchain-qdrant
sentence-transformers
qdrant-client
langchain-huggingface
tavily-python
python-dotenv
duckduckgo-search